<h2>Angular Simple Tasks</h2>
<button ng-click='alert()'>Alert</button>
<br>
<input type="text" ng-model='input'>
<button ng-click='alertThis()'>Alert This Message</button>
<br>
<div  class= 'hoverDiv' ng-class ='{blue:hovering}' ng-mouseenter="hovering=true" ng-mouseleave='hovering=false'>Try it!</div>
<p ng-class ='{red:clicked}' ng-click='clicked=true'>Click here to see some coooool stuff</p>
<button ng-class='{show:clicked}' ng-click='click = true'>Show My Name</button>
<br>
<span class='hideThis' ng-class='{showThis:click}'>Jacob Gossett</span>
<br>
<button ng-class='{showThis:click}' ng-click='doneClicked=true'>Show friends</button>
<br>
<div class='hidden' ng-class='{showing:doneClicked}' ng-repeat='friend in friends'>
    <ul><li>{{friend}}</li></ul>
</div>
